<app-header title="Auth"></app-header>
<ion-content>

<div class="d-flex-center">

    <form  [formGroup]="form" class="auth-form" (ngSubmit)="submit()">


    <app-custom-input icon="mail-outline"
    autocomplete="email"
        icon="mail-outline"
        [control]="form.controls.email"
        type="email"
        label="Correo"
        ></app-custom-input>

        <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
            <div *ngIf="form.controls.email.errors?.['required']">El correo es requerido</div>
            <div *ngIf="form.controls.email.errors?.['email']">Ingrese un correo valido </div>
        </div>



        <app-custom-input
        icon="lock-closed-outline"
        [control]="form.controls.password"
        type="password"
        label="Contraseña"
        ></app-custom-input>

        <div class="validators" *ngIf="form.controls.password.errors && form.controls.password.touched">
            <div *ngIf="form.controls.password.errors?.['required']">La contraseña es requerida</div>
        </div>

        <ion-button class="submit" expand="block" mode="ios" [disabled]="form.invalid" (click)="submit()">
            Ingresar
        </ion-button>

         <!-- Enlace al formulario de registro -->
         <ion-button 
         class="register-link"
         expand="block"
         color="secondary"
         fill="clear"
         [routerLink]="'/register'"
       >
         ¿No tienes cuenta? Regístrate
       </ion-button>



    </form>
</div>
</ion-content>
