<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="navigateToMarketplace()">
        <ion-icon slot="start" name="storefront-outline"></ion-icon>
        Market
      </ion-button>
      <ion-button (click)="navigateToSeller()">
        <ion-icon slot="start" name="people-outline"></ion-icon>
        Seller
      </ion-button>
    </ion-buttons>
    <div class="center-home-button">
      <ion-button shape="round" (click)="navigateToHome()">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
