<app-header title="Market"></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <div class="welcome-message">
    <h2>¡Bienvenido a <strong>Maketsy</strong>!</h2>
    <p>El lugar donde compras y vendes con facilidad. Encuentra lo que necesitas, desde productos únicos hasta ofertas increíbles, y comienza a hacer crecer tu negocio hoy mismo.</p>
    <p>¡Explora y disfruta de la mejor experiencia de compra en línea!</p>
  </div>

</ion-content>

<app-footer></app-footer>
