<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Agregar Producto</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/seller"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input [(ngModel)]="product.name" placeholder="Nombre del producto"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Descripción</ion-label>
      <ion-textarea [(ngModel)]="product.description" placeholder="Descripción del producto"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Imagen</ion-label>
      <ion-input [(ngModel)]="product.image" placeholder="URL de la imagen"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Cantidad</ion-label>
      <ion-input type="number" [(ngModel)]="product.quantity" placeholder="Cantidad"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Precio</ion-label>
      <ion-input type="number" [(ngModel)]="product.price" placeholder="Precio"></ion-input>
    </ion-item>
  </ion-list>
  <ion-footer>
    <ion-button expand="full" (click)="saveProduct()">Guardar Producto</ion-button>
  </ion-footer>
</ion-content>
